body{
    font-family: byekan;
}
nav{
    font-size: 1.2rem;

}
/*  منوی فرعی بالایی سایت*/
#topmenu{
    direction: ltr;
    background-color: #3c3c3c;
}
#socialLinks{
    text-decoration: none;
    color: white;
    font-size: 1.1rem;
    margin-left: 15px; 
}
#socialLinks:hover{
    color: greenyellow;
    font-size: 1.3rem;
}
/* پایان بخش منوی بالایی سایت */
/* عنوان سایت */
#siteTitle{
   
    color: white;
    
}
/*  بخش اسلایدر*/
.w-100 {
    width: 100% !important;
    height: 75vh;
  }
/*  پایان بخش اسلایدر*/
/* بخش محصولات */
#products{
    padding: 5%;
    background-color: #333;
    color: white;
}
#products h2{
    color: greenyellow;
}

/* پایان بخش محصولات */
/*  بخش درباره ما */

#about{
    padding: 5%;
    background-color: #333;
    color: white;
}
#about h2{
 color: greenyellow;
}
/* پایان بخش درباره ما */
/* lightbox*/
#lightboxgallary{
    padding: 5%;
    background-color: #333;
}
/* **** بخش تماس با ما */
#contacts{
    background-color: #333;
    color: white;
    padding: 5%;
}
#LeftSection{
    direction: ltr;
}
#webLink{
    text-decoration: none;
    color: white;
}
#webLink:hover{
    color: greenyellow;
    cursor: pointer;
}
#txtColor{
    color: greenyellow;
}
/* **** پایان بخش تماس با ما*/

/* بخش حرکت به بالای صفحه */
#gotop{
    position:fixed;
    bottom:10px;
    right: 25px;
    cursor: pointer;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    display:none;
    z-index: 10;
}



/* ّبخش انگلیسی سایت*/
#englishSection{
    direction: ltr;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5%;
}
#englishSection p{
    font-size: 1.1rem;
}

/* بخش فوتر سایت */
footer{
    background-color: #333;
    color: white;
    padding: 3%;
}


.image-shadow:after {
    transform: scale(0.95) translateY(36px) translateZ(-30px);
    filter: blur(20px);
    opacity: 0.9;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: inherit;
    background-size: cover;
    z-index: -1;
    transition: filter 0.3s ease;
  }
  
  
  .light {
    background: radial-gradient(ellipse at center, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0) 60%);
    width: 600px;
    height: 600px;
    background-blend-mode: lighten;
    position: fixed;
    pointer-events: none;
  }
  
  
  
  .js-tilt-container {
    transition: transform 0.1s ease;
    transform: rotateX(0) rotateY(0);
    transform-style: preserve-3d;
  }
  
  .leave {
    transform: rotateX(0) rotateY(0) !important;
    transition-timing-function: cubic-bezier(0.42, 0, 0, 1) !important;
    transition-duration: 1.5s;
  }